<html>
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="development/development.css">
    <link rel="stylesheet" href="css/webui-components-all.min.css">
    <link rel="stylesheet" href="css/spacecombat2.css">
</head>

<body class="fullscreen-body">
    <script src="development/development.js"></script>

    <script src="js/webui-components.min.js"></script>
    <script src="js/handlebars.min-v4.7.6.js"></script>

    <script id="template_inventoryitem" type="text/x-handlebars-template">
        <!-- {{Resource.Name}}, {{ResourceID}} -->
        <div id="{{Panel.ID}}:{{ResourceID}}:inventory-item" onmousedown="InventoryItemSelected(this.id)" class="sc2-inventory-item text-left color-light">
            <div class="sc2-inventory-tooltip width-full">
                {{#unless Panel.HideTooltips}}
                    <div class="sc2-inventory-tooltip-text">
                        OMG A RESOURCE!
                    </div>
                {{/unless}}
                <div class="text-xl flex-row">
                    {{#if Panel.ShowNumberedList}}
                    <span class="text-left pad-right-sm">{{ResourceID}}.</span>
                    {{/if}}
                    {{#if Resource.Icon}}
                    <img src="{{Resource.Icon}}">
                    {{/if}}
                    <span class="text-left flex-col">{{Resource.Name}}</span>
                    <span class="text-right flex-col">{{Resource.NiceAmount}}</span>
                </div>
                <div class="text-md color-info-light flex-row">
                    {{#if Panel.ShowNumberedList}}
                        {{#if Resource.TotalVolume}}
                        <span class="pad-left-xl text-left flex-col">Volume: {{Resource.TotalVolume}}L</span>
                        {{/if}}
                        {{#if Resource.TotalMass}}
                        <span class="text-right flex-col">Mass: {{Resource.TotalMass}}KG</span>
                        {{/if}}
                    {{else}}
                        {{#if Resource.TotalVolume}}
                        <span class="text-left flex-col">Volume: {{Resource.TotalVolume}}L</span>
                        {{/if}}
                        {{#if Resource.TotalMass}}
                        <span class="text-right flex-col">Mass: {{Resource.TotalMass}}KG</span>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </script>
    <script id="template_inventorypanel" type="text/x-handlebars-template">
        <div class="sc2-window width-full">
            {{#if Panel.Title}}
                <div class="sc2-window-titlebar text-center">
                    <div class="text-xl text-bold color-light">
                        {{Panel.Title}}
                    </div>
                </div>
            {{/if}}
            <div class="sc2-window-content text-center scrollbox" id="{{Panel.ID}}-scrollbox">
                {{#if Resources}}
                    {{#each Resources as |Resource ResourceID|}}
                        {{> InventoryItem Resource=Resource ResourceID=ResourceID Panel=../Panel}}
                    {{/each}}
                {{else}}
                    <div class="text-lg text-bold color-light">
                        No Resources!
                    </div>
                {{/if}}
            </div>
        </div>
    </script>

    <script src="js/elements/inventorypanel.js"></script>

    <div class="sc2-window centered width-one-third min-width-lg max-width-lg height-one-half">
        <div class="sc2-window-titlebar text-center">
            <div class="text-xl text-bold color-light">Global Storage</div>
        </div>
        <div class="sc2-window-content height-full flex-col">
            <div id="global-storage" class="sc2-inventory-panel flex-auto"></div>
            <button type="button" class="button-xl button-dark width-full" onmousedown="spacecombat.CloseMenu()">Close</button>
        </div>
    </div>

    <script>
        var WebUIReady = false;

        webui.ready(function () {
            WebUIReady = true;

            SetupInventoryPanels();

            setInterval(function(){RefreshInventoryPanels();}, 1000)

            ui.initTooltips({
                autoPositioning: true,
                autoResizing: true,
                autoPositioningMargin: 0,
                transitionDuration: 1000
            });
        });
    </script>
</body>

</html>