body.fullscreen-body {
    overflow: hidden;
    background-color: transparent;
}

.sc2-panel {
    background-color: rgba(20, 20, 20, 0.8);
    padding: 1.5em;
    margin: 0.7em;
    box-shadow: 4px 4px 20px 5px #111111;
}

.sc2-window {
    background: none;
    padding: 0em;
    margin: 0.7em;
    box-shadow: 4px 4px 20px 5px #111111;
}

.sc2-window.min-width-xl {
    min-width: 1000px;
}

.sc2-window.min-width-lg {
    min-width: 800px;
}

.sc2-window.min-width-med {
    min-width: 600px;
}

.sc2-window.min-width-sm {
    min-width: 400px;
}

.sc2-window.min-width-xs {
    min-width: 200px;
}

.sc2-window.max-width-xl {
    max-width: 1200px;
}

.sc2-window.max-width-lg {
    max-width: 1000px;
}

.sc2-window.max-width-med {
    max-width: 800px;
}

.sc2-window.max-width-sm {
    max-width: 600px;
}

.sc2-window.max-width-xs {
    max-width: 400px;
}

.sc2-window.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sc2-window .control-group {
    background-color: rgba(32, 32, 32, 0.94);
    padding: 1.5em;
    padding-bottom: 0em;
    display: block;
}

.sc2-window .control-group .tab-activator {
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
}

.sc2-window .control-group .tab-activator.active-tab {
    font-style: bold;
    animation: glow 1s ease-in-out infinite alternate;
    color: #2196f3;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #99f;
    }
    to {
      text-shadow: 0 0 12px #88f;
    }
  }

.sc2-window .sc2-window-content {
    background-color: rgba(32, 32, 32, 0.94);
    padding: 1.5em;
}

.sc2-window .sc2-window-titlebar {
    background-color: rgba(58, 42, 42, 0.95);
    padding: 1em;
    box-shadow: 2px 2px 20px 3px #111111;
}

.sc2-inventory-panel {
    height: 100%;
}

.sc2-inventory-panel .scrollbox {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.sc2-inventory-tooltip {
    display: inline-block;
    position: relative;
}

.sc2-inventory-tooltip .sc2-inventory-tooltip-text {
    visibility: hidden;
    width: 80%;
    height: 100px;
    background-color: #555;
    box-shadow: 4px 4px 20px 5px #111111;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40%;
  }

.sc2-inventory-tooltip .sc2-inventory-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    box-shadow: 4px 4px 20px 5px #111111;
  }

.sc2-inventory-item {
    background-color: rgba(20, 20, 20, 0.8);
    padding: 1.5em;
    margin: 0.7em;
    box-shadow: 4px 4px 20px 5px #111111;
}

.sc2-inventory-item:hover {
    background-color: rgba(25, 25, 30, 0.8);
    animation: glow 1s ease-in-out infinite alternate;
}

.sc2-inventory-item.selected .sc2-inventory-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.sc2-inventory-item.selected {
    background-color: rgba(35, 35, 45, 0.8);
    animation: glow 1s ease-in-out infinite alternate;
}