<div class="sc2-window width-full">
    {{#if Panel.Title}}
        <div class="sc2-window-titlebar text-center">
            <div class="text-xl text-bold color-light">
                {{Panel.Title}}
            </div>
        </div>
    {{/if}}
    <div class="sc2-window-content text-center scrollbox" id="{{Panel.ID}}-scrollbox">
        {{#if Resources}}
            {{#each Resources as |Resource ResourceID|}}
                {{> InventoryItem Resource=Resource ResourceID=ResourceID Panel=../Panel}}
            {{/each}}
        {{else}}
            <div class="text-lg text-bold color-light">
                No Resources!
            </div>
        {{/if}}
    </div>
</div>