<!-- {{Resource.Name}}, {{ResourceID}} -->
<div id="{{Panel.ID}}:{{ResourceID}}:inventory-item" onmousedown="InventoryItemSelected(this.id)" class="sc2-inventory-item text-left color-light">
    <div class="sc2-inventory-tooltip width-full">
        {{#unless Panel.HideTooltips}}
            <div class="sc2-inventory-tooltip-text">
                OMG A RESOURCE!
            </div>
        {{/unless}}
        <div class="text-xl flex-row">
            {{#if Panel.ShowNumberedList}}
            <span class="text-left pad-right-sm">{{ResourceID}}.</span>
            {{/if}}
            {{#if Resource.Icon}}
            <img src="{{Resource.Icon}}">
            {{/if}}
            <span class="text-left flex-col">{{Resource.Name}}</span>
            <span class="text-right flex-col">{{Resource.NiceAmount}}</span>
        </div>
        <div class="text-md color-info-light flex-row">
            {{#if Panel.ShowNumberedList}}
                {{#if Resource.TotalVolume}}
                <span class="pad-left-xl text-left flex-col">Volume: {{Resource.TotalVolume}}L</span>
                {{/if}}
                {{#if Resource.TotalMass}}
                <span class="text-right flex-col">Mass: {{Resource.TotalMass}}KG</span>
                {{/if}}
            {{else}}
                {{#if Resource.TotalVolume}}
                <span class="text-left flex-col">Volume: {{Resource.TotalVolume}}L</span>
                {{/if}}
                {{#if Resource.TotalMass}}
                <span class="text-right flex-col">Mass: {{Resource.TotalMass}}KG</span>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>